@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Courier Prime", monospace;
}

:root {
  --font-white: rgba(245, 245, 245);
  --font-brown: #412a25;
  --font-black: black;
  --bg-white: rgb(245, 245, 245);
  --bg-dark-red: #690b0b;
  --bg-seal-brown: #65371e;
  --bg-brown: #412a25;
  --bg-wenge: #7d675d;
  --bg-champagne-pink: #f3e1d3;
  --bg-silver: #646464;
  --bg-dark-gray: rgb(52, 52, 52);
  --bg-black: black;
}

body {
  width: 100vw;
  background: rgb(203, 202, 200);
  background: linear-gradient(
    180deg,
    rgba(203, 202, 200, 1) 10%,
    rgba(243, 225, 211, 1) 90%
  );
}

header {
  background-color: var(--bg-dark-gray);
  padding: 0 50px;
  position: fixed;
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  height: 70%;
}

.nav-list {
  display: flex;
  gap: 30px;
}

nav {
  display: flex;
}

nav i {
  font-size: 30px;
  display: none;
}

#menu-toggle {
  display: none;
}

.menu-toggle {
  display: none;
  position: absolute;
  right: 55px;
  top: 18px;
}

.nav-link {
  color: var(--font-white);
  font-size: 14px;
  font-weight: 400;
  z-index: 20;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 50px;
  gap: 80px;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
}

.hero div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

h1 {
  font-size: 35px;
  font-weight: 700;
  color: var(--font-brown);
  text-align: center;
}

.hero p {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--font-brown);
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80vw;
  font-size: 18px;
  font-weight: 700;
  color: var(--font-brown);
  padding: 10px 60px 10px 60px;
}

.about-info-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.about-text {
  width: 70%;
  color: var(--font-brown);
  font-weight: 400;
  text-align: center;
}

.about-cards-container {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
  gap: 20px;
}

.about-cards-products {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgb(255, 255, 255);
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(137, 95, 71, 1) 85%
  );
  border-radius: 20px;
  box-shadow: 0 5px 8px 2px var(--bg-silver);
  max-width: 250px;
  min-width: 250px;
}

.about-cards-products img {
  width: 70%;
  padding: 20px 0;
}

.about-cards-products-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  padding: 5px 10px 20px 10px;
  gap: 10px;
  color: var(--font-brown);
}

.about-cards-products-text p {
  text-align: center;
  font-size: 15px;
  color: var(--font-brown);
}

.about-cards-btn {
  border: 2px solid var(--font-brown);
  background-color: var(--bg-white);
  border-radius: 20px;
  padding: 2px 10px;
}

.about-cards-btn a {
  color: var(--font-brown);
  font-size: 12px;
  text-align: center;
}

.catalogo {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.catalogo h2 {
  color: var(--font-brown);
}

.catalogo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 30px;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 50px;
}

.info h3 {
  color: var(--font-brown);
  font-size: 18px;
  font-weight: 700;
}

.products-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 30px;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgb(255, 255, 255);
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(100, 100, 100, 1) 85%
  );
  border-radius: 20px;
  box-shadow: 0 5px 8px 2px var(--bg-silver);
  padding: 35px 0;
  gap: 20px;
  min-width: 250px;
}

.product img {
  box-shadow: 0 2px 5px 2px var(--bg-silver);
  width: 80%;
}

.product-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 50px;
  width: 80%;
}

.price {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-dark-red);
  box-shadow: 0 2px 5px 2px var(--bg-silver);
  min-height: 40px;
  min-width: 40px;
  border-radius: 50%;
}

.price p {
  color: var(--font-white);
  font-size: 11px;
  font-weight: 700;
}

.product-btn {
  border: 2px solid var(--bg-brown);
  background-color: var(--bg-brown);
  border-radius: 20px;
  box-shadow: 0 2px 5px 2px var(--bg-silver);
  padding: 2px 10px;
}

.product-btn a {
  color: var(--font-white);
  font-weight: 700;
  font-size: 15px;
  text-align: center;
}

.sets-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 30px;
}

.primer-set {
  display: flex;
  gap: 20px;
}

.segundo-set {
  display: flex;
  gap: 20px;
}

.info span {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact {
  color: var(--font-brown);
  width: 70vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 70px;
}

.contact-info-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

.contact-info {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.mail,
.telefono,
.entrega {
  display: flex;
  gap: 10px;
}

.map iframe {
  border-radius: 20px;
  box-shadow: 0 5px 8px 2px var(--bg-silver);
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 70px 50px;
  font-weight: 700;
  color: var(--font-brown);
  font-size: 13px;
}

.footer-info {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 100px;
  width: 85%;
}

.redes {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.redes div {
  display: flex;
  gap: 10px;
}

.redes div img {
  width: 10%;
}

.extra-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 10px;
}

.extra-info img {
  width: 8%;
}

.extra-info-envios {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.extra-info-pago {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.logo-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 80px;
}

.logo-footer img {
  width: 8%;
}
